.message {
    background-color: #99FF99;
    color: #006600;
}
.error {
    background-color: #FF9999;
    color: #660000;
}

.message, .error {
  padding: 5px 10px;
  margin-bottom: 20px;
}

.userRoles {
    list-style-type: none;
}

.userRoles li {
    display: inline;
}
